*{
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
}
.canvas-ps-warp{
    position: relative;
}
/* PC端 */
@media screen and (min-width:720px){
    
    .box{
        min-width: 800px;
    }
    .box>div{
        box-sizing: border-box;
        border: solid 2px rgb(122, 122, 122);
    }
    #showmenu{
        display: none;
    }
    #showhistory{
        display: none;
    }
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 50;
        width: 80px;
        background-color: #919090;
        height: 100%;
        text-align: center;
        color:white;
    }
    .work{
        padding-left: 80px;
        width: 100%;
        background-color: rgb(235, 235, 235);
        height: 100%;
        overflow: scroll;
        position: relative;
    }
    /* 菜单 */
    .menubtn{
        text-align: center;
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        color: white;
        text-decoration: none;
    }
    .menubtn:hover{
        color: #636262;
    }
    .menu>span{
        font-size: 12px;
    }
    .menu>input{
        width: 50%;
    }
    /* 画布 */
    #canvas{
        position: absolute;
        border: solid 2px rgb(134, 134, 134);
        background-image: url("../imgs/grid.jpg");
    }
    /*弹出层*/
    .alert>div{
        position: fixed;
        border: solid 2px rgb(134, 134, 134);
        z-index: 10;
    }
    /*-----颜色----*/
    .color{
        display: none;
        width: 400px;
        height: 300px;
    }
    .windows{
        background-color: #F8F8F8;
    }
    .windows>div{
        width: 80%;
        margin: 2% auto;
        text-align: center;
    }
    .windows>h4{
        background-color: #8E8C8C;
        color: white;
        cursor: default;
    }
    .windows>h4>span{
        float: right;
        padding-right: 8px;
        padding-left: 8px;
        cursor: pointer;
    }
    .contr_color>h5{
        height: 30px;
        line-height: 30px;
        color: #5B5B5B;
        margin-top: 20px;
    }
    .contr_color input{
        width: 80%;
    }
    .submit{
        margin-top: 20px;
    }
    .submit>a{
        text-decoration: none;
        color: white;
        background-color: #767676;
        padding: 5px;
        border-radius: 4px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .submit_color>a:hover{
        background-color: #555454;
    }
    /*笔刷光标模拟*/
    .easer{
        position: absolute;
        background-color: white;
        width: 10px;
        height: 10px;
        z-index: 1;
        display: none;
    }
    /*保存窗口*/
    .save{
        width: 400px;
        height: 200px;
        display: none;
    }
    .contr_save>h5{
        margin: 10%;
    }
    .contr_save span{
        margin: 4px;
        cursor: default;
        border: solid 1px #CECECE;
    }
    /*通用窗口*/
    .default{
        width: 300px;
        height: 200px;
        display: none;
    }
    .default_cont{
        height: 120px;
    }
    .default_cont>p{
        text-align: left;
        cursor: default;
    }
    /*裁剪显示框*/
    .pscut-box{
        left: -200px;
        border: solid 2px red;
        position: absolute;
        display: none;
        cursor: move;
        background-color:rgba(0, 0, 0, 0.4);
    }
    .pscut-box::after{
        content: 'W:- + H:- +';
        background-color: red;
        border-radius: 20%;
        color: white;
        cursor: default;
        font-size: 14px;
        position: absolute;
        display: block;
        width: 80px;
        height: 14px;
        top: -16px;
        bottom: auto;
    }
    /* 操作历史 */
    .history{
        position: absolute;
        z-index: 10;
        right: 0;
        padding: 8px 4px;
        border: solid 2px #acacac;
        color: #5B5B5B;
        text-align: center;
        background-color: rgb(235, 235, 235);
    }
    .history h4{
        background-color: rgb(199, 199, 199);
        
        padding: 4px 0;
    }
    .history a{
        display: block;
        padding: 8px 20px;
        border: solid 1px #c0c0c0;
        font-size: 12px;
        color: #5B5B5B;
        text-decoration: none;
    }
}
/* 移动端 */
@media screen and (max-width:720px){
    
    .box{
        width: 100%;
    }
    .box>div{
        box-sizing: border-box;
        border: solid 2px rgb(122, 122, 122);
    }
    .menu{
        position: fixed;
        left: -5rem;
        top: 0;
        z-index: 50;
        width: 5rem;
        background-color: #919090;
        max-height: 100%;
        text-align: center;
        color:white;
        padding: 0.5rem 0.2rem;
        /* transform: translateY(20%); */
        transition: left 0.8s;
    }
    #showmenu{
        display: block;
        position: fixed;
        left: 0rem;
        top: 50%;
        z-index: 50;
        transition: left 0.8s;
    }
    .work{
        width: 100%;
        background-color: rgb(235, 235, 235);
        height: 100%;
        overflow: scroll;
        position: relative;
    }
    /* 菜单 */
    .menubtn{
        text-align: center;
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        color: white;
        text-decoration: none;
    }
    .menubtn:hover{
        color: #636262;
    }
    .menu>span{
        font-size: 0.8rem;
    }
    .menu>input{
        width: 50%;
    }
    /* 画布 */
    #canvas{
        position: absolute;
        border: solid 2px rgb(134, 134, 134);
        background-image: url("../imgs/grid.jpg");
    }
    /*弹出层*/
    .alert>div{
        position: fixed;
        border: solid 2px rgb(134, 134, 134);
        z-index: 10;
    }
    /*-----颜色----*/
    .color{
        display: none;
        width: 400px;
        height: 300px;
    }
    .windows{
        background-color: #F8F8F8;
    }
    .windows>div{
        width: 80%;
        margin: 2% auto;
        text-align: center;
    }
    .windows>h4{
        background-color: #8E8C8C;
        color: white;
        cursor: default;
    }
    .windows>h4>span{
        float: right;
        padding-right: 8px;
        padding-left: 8px;
        cursor: pointer;
    }
    .contr_color>h5{
        height: 30px;
        line-height: 30px;
        color: #5B5B5B;
        margin-top: 20px;
    }
    .contr_color input{
        width: 80%;
    }
    .submit{
        margin-top: 20px;
    }
    .submit>a{
        text-decoration: none;
        color: white;
        background-color: #767676;
        padding: 5px;
        border-radius: 4px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .submit_color>a:hover{
        background-color: #555454;
    }
    /*笔刷光标模拟*/
    .easer{
        position: absolute;
        background-color: white;
        width: 10px;
        height: 10px;
        z-index: 1;
        display: none;
    }
    /*保存窗口*/
    .save{
        width: 400px;
        height: 200px;
        display: none;
    }
    .contr_save>h5{
        margin: 10%;
    }
    .contr_save span{
        margin: 4px;
        cursor: default;
        border: solid 1px #CECECE;
    }
    /*通用窗口*/
    .default{
        width: 300px;
        height: 200px;
        display: none;
    }
    .default_cont{
        height: 120px;
    }
    .default_cont>p{
        text-align: left;
        cursor: default;
    }
    /*裁剪显示框*/
    .pscut-box{
        left: -20px;
        border: solid 2px red;
        position: absolute;
        display: none;
        cursor: move;
        background-color:rgba(0, 0, 0, 0.4);
    }
    /* 操作历史 */
    #showhistory{
        display: block;
        position: fixed;
        top: 1rem;
        transition: right 0.8s;
        right:0rem;
    }
    .history{
        position: fixed;
        z-index: 10;
        right: -6.6rem;
        width: 5.6rem;
        padding: 0.6rem 0.4rem;
        border: solid 2px #acacac;
        color: #5B5B5B;
        text-align: center;
        background-color: rgb(235, 235, 235);
        transition: right 0.8s;
    }
    .history h4{
        background-color: rgb(199, 199, 199);
        font-size: 0.8rem;
        padding: 0.2rem 0;
    }
    .history a{
        display: block;
        padding: 0.4rem 0.4rem;
        border: solid 1px #c0c0c0;
        font-size: 0.8rem;
        color: #5B5B5B;
        text-decoration: none;
    }
}
